
*{
    box-sizing: border-box;
}
body{
  margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-header{
    background-image: url('../images/showcaseBGImage.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    text-align: center;
}
.header-navbar{
    background-color: rgba(0, 0, 0, 0.45);
    padding: 1em;
}
.header-navbar ul{
    display: flex;
    align-items: center;
}
.header-navbar ul > :first-child {
    margin-right: auto;
}
.header-navbar ul > :last-child {
    margin-right: 2em;
}
.header-navbar a{
    text-decoration: none;
    color: #fff;
    margin-left: 1em;
}
.header-section{
    
}
.top-article{
    padding-top: 2em;
    align-content: center; 
}
.top-article h1{
    color: #fff;
}
.top-article-description{
    color: #fff;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 50vw;
}
.btn-container{
    margin: 10em auto;
    display: flex;
    justify-content: space-between;
    max-width: 30vw;
}
.showcase-section{
    margin: 3em;
    text-align: center;
}
.showcase-section h2{
    margin-bottom: 5em;
    text-align: center;
}
.container-article{
    display: flex;
    margin-left: 4em;
    margin-right: 4em;
}
.group-article{
    border: 0.1em black solid;
    margin: 0.4em;
}

.button{
    background: none;
    border: 0.1em white solid;
    padding: 0.3em;
}
.button:hover{
    background: white;
    color: #000;
}
.group-article-button{
    background: none;
    border: 0.1em #000 solid;
    padding: 0.3em;
    margin-bottom: 0.3em;
}
.group-article-button:hover{
    background: #000;
    color: #fff;
}
.main-footer{
    background-color: #000;
}
.footer-navbar ul{
    display: flex;
    align-items: center;
}
.footer-navbar ul > :last-child {
    margin-left: auto;
    margin-right: 2em;
}

.footer-navbar a{
    color: #fff;
    margin-left: 2em;
}

.footer-navbar p{
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .container-article{
        display: flex;
        flex-direction: column;
        margin-left: 4em;
        margin-right: 4em;
    }
  }





